In [4]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

# Series

 - Series ~= [list] + {dict}
 
  . index에 list, dict 속성을 다 가질 수 있다

In [5]:
obj = Series([4,7,-5,3])

In [6]:
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [7]:
obj.values

array([ 4,  7, -5,  3])

In [8]:
type(obj.values)

numpy.ndarray

In [9]:
obj.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [10]:
type(obj.index)

pandas.core.index.Int64Index

In [11]:
obj2 = Series([4,7,-5,3], index=['d','b','a','c'])
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [12]:
obj2['d']

4

In [13]:
obj2[0]  # 인덱스가 부여되어도 0 기반 인덱스가 기본적으로 계속 적용된다.

4

In [14]:
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [15]:
 obj2[['c', 'a', 'd']]

c    3
a   -5
d    4
dtype: int64

In [16]:
# 값이 0보다 큰 항목만 선택  --> boolean Filter를 적용한 경우
obj2[obj2>0]

d    4
b    7
c    3
dtype: int64

In [16]:
obj2 * 2

d     8
b    14
a   -10
c     6
dtype: int64

In [17]:
np.exp(obj2)

d      54.598150
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

In [18]:
'b' in obj2

True

In [19]:
'e' in obj2

False

#### 값의 존재 여부 확인

In [20]:
4 in obj2.values

True

#### dict --> Series 생성

In [21]:
sdata = {'Ohio' : 35000,
        'Texas' : 71000,
        'Oregon' : 16000,
        'Utah' : 5000}

In [22]:
obj3 = Series(sdata)
obj3

Ohio      35000
Oregon    16000
Texas     71000
Utah       5000
dtype: int64

#### Series --> dict

In [23]:
dict(obj3)

{'Ohio': 35000, 'Oregon': 16000, 'Texas': 71000, 'Utah': 5000}

In [26]:
# 원래 데이터에는 값이 없는 인덱스를 지정하는 경우
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj4 = Series(sdata, index=states)
obj4

California      NaN
Ohio          35000
Oregon        16000
Texas         71000
dtype: float64

In [27]:
pd.isnull(obj4)

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [28]:
obj4[pd.notnull(obj4)]

Ohio      35000
Oregon    16000
Texas     71000
dtype: float64

In [29]:
obj4.isnull()

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [30]:
obj3

Ohio      35000
Oregon    16000
Texas     71000
Utah       5000
dtype: int64

In [31]:
obj4

California      NaN
Ohio          35000
Oregon        16000
Texas         71000
dtype: float64

#### 서로 인덱스가 어긋나기도 하는 두 Series의 연산

"대상" * NaN -> NaN

In [33]:
 obj3+obj4

California       NaN
Ohio           70000
Oregon         32000
Texas         142000
Utah             NaN
dtype: float64

#### 연습문제

obj3과 obj4의 원소를 더하고, 값이 있는 것만 선택해 결과를 저장하시오.
 * boolean filter의 특성을 이용하면 더 편하다.

In [17]:
result = obj3 + obj4   # 행렬의 덧셈을 생각해보자, (i,j)의 열이 맞지 않으면 연산이 수행되지 않는다. 단 pandas는 겹쳐지는 범위에 한해서는 연산 가능
result[result.notnull()]

NameError: name 'obj3' is not defined

In [37]:
obj4.name = 'population'
obj4

California      NaN
Ohio          35000
Oregon        16000
Texas         71000
Name: population, dtype: float64

In [38]:
obj4.name is 'population'

True

In [42]:
obj4.index.name = 'state'  # DataFrame에 값들이 어떻게 들어가는지 확인하면 이해가 빠를듯
obj4

state
California      NaN
Ohio          35000
Oregon        16000
Texas         71000
Name: population, dtype: float64

In [43]:
obj = Series([4, 7, -5, 3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [45]:
obj.index = ['Bob', 'Steve', 'Jeff', 'Ryan']
obj

Bob      4
Steve    7
Jeff    -5
Ryan     3
dtype: int64

#### 연습문제

학생1은 국어, 영어, 수학 점수가 있고, 학생2는 영어, 수학, 과학 점수가 있다. 점수는 [0, 100]의 범위로, 임의의 값이다. 다음을 1) 일반 파이썬 자료구조로 프로그래밍한 것과 2)pandas.Series를 사용해 해결한 것을 비교해 보시오.

a. 각 학생의 공통 과목 점수를 출력하시오.

b. 학생2의 점수 중 학생1은 없는 점수만을 출력하시오.

c. 과목 점수가 같은 것을 찾아, 동점이 있는 과목을 출력하시오.

In [46]:
# pandas로 수행하기 
s1 = Series({u'국어':90, u'수학':95, u'영어':85})
s2 = Series({u'영어':75, u'수학':84, u'과학':50})

# 공통 과목만 표시
common_sub = s1.index & s2.index
print(common_sub)
print(s1[common_sub])
print(s2[common_sub])

Index([u'수학', u'영어'], dtype='object')
수학    95
영어    85
dtype: int64
수학    84
영어    75
dtype: int64

In [49]:
# 같은 과목이 점수가 같은 경우만 추출
s1 = Series({u'국어':90, u'수학':95, u'영어':85})
s3 = Series({u'영어':85, u'수학':95, u'과학':50})

# 동점 과목명 구하기
# 불리언 필터 사용 고려
print(s1[s1 == s3])
print(s3[s3 == s1])

수학    95
영어    85
dtype: int64
수학    95
영어    85
dtype: int64

## 인터페이스만 파이썬이지 성능은 C이다

In [18]:
import pandas as pd
pd.read_csv?   # pd.read_csv()의 명세 확인 가능